* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

ul {
    list-style: none;
}

a {
    all: unset;
}

:root {
    --preto: #0F0F0F;
    --verdeEscuro: #4F6C35;
    --verdeClaro: #F6FBF9;
    --verdeClaroGradiente: #EBF9E9;
    --bege: #FEF7F0;
    --laranjaEscuro: #4D2700;
    --laranjaClaro: #F9F1E3;
}

/* Estilos para a p치gina index.html */
/* Header */
header {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    top: 0px;
    background-color: var(--preto);
    z-index: 99;
}

.containerBack {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 160px;
    top: 10px;
    left: 10px;
    color: white;
}

#arrowBack {
    width: 20px;
}

.containerBack p {
    font-size: 10px;
}

.containerLogo {
    width: 120px;
    height: 70%;
}

.containerLogo img {
    width: 100%;
    height: 100%;
}

.containerPesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin-bottom: 10px;
}

input {
    width: 60%;
    height: 30px;
}

button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd8b1;
    height: 30px;
    width: 30px;
}

/* Main */
/* Primeiro container de texto */
main {
    margin-top: 150px;
}

#mainCards {
    min-height: 1150px;
    height: 1150px;
}

.containerMain {
    background-color: var(--verdeClaro);
    height: 100%;
}

.primeiroContainerTexto {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    gap: 30px;
    width: 100%;
    height: 35%;
    background-color: var(--bege);
    grid-template-areas:
        "e1 e1"
        "e2 e2"
        "e3 e3"
    ;

    grid-template-rows: (2, 50%);
    grid-template-columns: (2, 50%);
}

.primeiroContainerTexto h2 {
    grid-area: e1;
}

.primeiroContainerTexto .img {
    grid-area: e2;
}

.primeiroContainerTexto .conteudoTexto {
    grid-area: e3;
}

.primeiroContainerTexto .img {
    border-style: solid;
    border-color: var(--laranjaEscuro);
}

.img {
    width: 170px;
    height: 130px;
}

.img img {
    width: 100%;
    height: 100%;
}

.primeiroContainerTexto p {
    text-align: justify;
    font-size: 15px;
    padding: 10px;
}

/* Container do carrossel de imagens */
.carrosselImgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.carrosselImgs p {
    display: none;
}

.containerCarrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 90%;
}

#animal {
    width: 95%;
    height: 45%;
    border-style: solid;
    border-color: var(--preto);
}

#imgCarroselAnimal {
    width: 100%;
    height: 100%;
    animation: fade 5s infinite;
}

#habitat {
    width: 95%;
    height: 45%;
    border-style: solid;
    border-color: var(--preto);
}

#imgCarroselHabitat {
    width: 100%;
    height: 100%;
    animation: fade 5s infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Segundo container de texto */
.segundoContainerTexto {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    gap: 30px;
    width: 100%;
    height: 35%;
    background-color: var(--bege);
    grid-template-areas:
        "e1 e1"
        "e2 e2"
        "e3 e3"
    ;

    grid-template-rows: (2, 50%);
    grid-template-columns: (2, 50%);
}

.segundoContainerTexto h2 {
    grid-area: e1;
}

.segundoContainerTexto .img {
    grid-area: e2;
}

.segundoContainerTexto .conteudoTexto {
    grid-area: e3;
}

.segundoContainerTexto .img {
    border-style: solid;
    border-color: var(--verdeEscuro);
}

.segundoContainerTexto p {
    text-align: justify;
    font-size: 15px;
    padding: 10px;
}

#filtroEscuro {
    display: none;
    justify-content: end;
    padding: 10px;
    position: absolute;
    width: 100%;
    min-height: 1150px;
    background-color: #0f0f0fa4;
}

.containerClose {
    width: 40px;
    height: 40px;
}

#close {
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    width: 100%;
    height: 243px;
    background-color: var(--preto);
    color: white;
    font-size: 10px;
}

.informacoes {
    width: 100%;
    height: 80%;
    padding: 20px;
}

.links {
    display: flex;
    width: 100%;
    height: 90%;
}

ul {
    width: 50%;
}

.senai {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

.senai a {
    color: red;
}

.tituloUl {
    font-size: 15px;
}

.creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
    border-top-style: solid;
    border-top-color: white;
}

footer img {
    width: 30px;
    height: 40px;
}

/* Estilos para a p치gina cards.html */
#containerCards {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 3px;
    padding-left: 7px;
    padding-top: 10px;
    width: 100%;
    height: 94%;
}

#tituloCards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6%;
    font-size: 1.3rem;
    background-color: var(--bege);
}

.nome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 45%;
    font-size: 0.7rem;
    font-weight: 600;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: var(--laranjaClaro);
}

.containerImgCard {
    width: 80%;
    height: 55%;
    margin-top: 10px;
    border-style: solid;
    border-color: var(--verdeEscuro);
}

.imgCard {
    width: 100%;
    height: 100%;
}

/* Estilo para o card selecionado */
.containerDados {
    display: none;
    padding-left: 15px;
    padding-left: 15px;
    padding-top: 15px;
    width: 100%;
    height: 50%;
}

.containerDados ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

li {
    min-height: 55px;
}

.listaTopicosAnimal {
    font-size: 15px;
    font-weight: bold;
}

.listaConteudoAnimal {
    font-style: italic;
}

/* Responsividades */
@media(min-width: 768px) {

    /* Header */
    header {
        height: 130px;
        display: grid;
        grid-template-columns: 40% 20% 40%;
    }

    .containerBack {
        gap: 10px;
        width: 210px;
        top: 15px;
        left: 20px;
    }

    #arrowBack {
        width: 20px;
    }

    .containerBack p {
        font-size: 14px;
    }

    .containerLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        grid-column: 2/3;
    }

    .containerLogo img {
        width: 60%;
        height: 70%;
    }

    .containerPesquisa {
        width: 100%;
        height: 80%;
        padding-right: 20px;
        padding-top: 70px;
        grid-column: 3/3;
        margin-bottom: 40px;
    }

    input {
        width: 80%;
    }

    /* Main */
    /* Primeiro container de texto */
    main {
        display: flex;
        justify-content: center;
        margin-top: 130px;
        height: 1400px;
        background: #355223;
        background: linear-gradient(0deg, rgba(53, 82, 35, 1) 0%, rgba(235, 249, 233, 1) 100%);
    }

    .containerMain {
        width: 95%;
        height: 97.5%;
        margin-top: 30px;
        border-style: solid;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-color: var(--preto);
    }

    .primeiroContainerTexto {
        height: 20%;
        padding-top: 0px;
        gap: 0px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        grid-template-areas:
            "e2 e1 e1"
            "e2 e3 e3"
            "e2 e3 e3"
        ;

        grid-template-rows: (3, 23.3%);
        grid-template-columns: (3, 33.3%);
    }

    .primeiroContainerTexto h2 {
        display: flex;
        align-items: flex-end;
        width: 100%;
        padding-left: 28px;
        height: 100%;
    }

    .img {
        margin-left: 15px;
        width: 210px;
        height: 180px;
    }

    .primeiroContainerTexto .conteudoTexto {
        padding-left: 20px;
        height: 100%;
    }

    .primeiroContainerTexto p {
        font-size: 15px;
    }

    /* Container do carrosel e imagens */
    .carrosselImgs {
        height: 60%;
    }

    .carrosselImgs p {
        display: flex;
        width: 100%;
        padding: 0px 35px 0px 35px;
    }

    .carrosselImgs p:nth-child(1) span {
        color: var(--laranjaEscuro);
        padding: 0px 5px 0px 5px;
        font-weight: 600;
    }

    .carrosselImgs p:nth-child(3) span {
        color: var(--verdeEscuro);
        padding: 0px 5px 0px 5px;
        font-weight: 600;
    }

    .carrosselImgs p:nth-child(3) {
        justify-content: flex-end;
    }

    .containerCarrossel {
        height: 90%;
        width: 95%;
    }

    /* Segundo container de texto */
    .segundoContainerTexto {
        height: 20%;
        padding-top: 0px;
        gap: 0px;
        grid-template-areas:
            "e2 e1 e1"
            "e2 e3 e3"
            "e2 e3 e3"
        ;

        grid-template-rows: (3, 23.3%);
        grid-template-columns: (3, 33.3%);
    }

    .segundoContainerTexto h2 {
        display: flex;
        align-items: flex-end;
        width: 100%;
        padding-left: 28px;
        height: 100%;
    }

    .segundoContainerTexto .conteudoTexto {
        padding-left: 20px;
        height: 100%;
    }

    .segundoContainerTexto p {
        font-size: 15px;
    }

    /* Estilos para a p치gina cards.html */
    #tituloCards {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 5%;
    }

    #containerCards {
        grid-template-columns: 23% 23% 23% 23%;
        padding: 1%;
        margin-left: 1.1%;
        gap: 15px;
    }

    .containerImgCard {
        width: 65%;
        height: 65%;
    }

    .nome {
        font-size: 0.8rem;
        height: 35%;
    }
}

@media(min-width: 1280px) {

    /* Header */
    .containerLogo {
        width: 100%;
        height: 100%;
    }

    .containerLogo img {
        width: 40%;
        height: 70%;
    }

    .containerPesquisa {
        width: 100%;
        height: 80%;
        padding-top: 55px;
    }

    /* Main */
    /* Primeiro container de texto */
    .containerMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .primeiroContainerTexto {
        height: 23%;
        width: 90%;
        border-radius: 20px;
        margin-top: 15px;
    }

    .img {
        width: 240px;
        height: 210px;
    }

    .primeiroContainerTexto p {
        font-size: 18px;
    }

    /* Container do carrosel e imagens */
    .containerCarrossel {
        height: 90%;
        width: 70%;
    }

    .carrosselImgs p {
        font-size: 20px;
        padding: 0px 155px 0px 155px;
    }

    /* Segundo container de texto */
    .segundoContainerTexto {
        height: 23%;
        width: 90%;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    .segundoContainerTexto p {
        font-size: 18px;
    }

    /* Estilos para a p치gina cards.html */
    #tituloCards {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-top: -15px;
    }

    #containerCards {
        grid-template-columns: 18% 18% 18% 18% 18%;
        padding: 1.5%;
        margin-left: 2.8%;
        gap: 20px;
    }

    .containerImgCard {
        width: 65%;
        height: 60%;
    }

    .nome {
        height: 40%;
    }

    .card:hover {
        box-shadow: 5px 0px 30px 0px #0f0f0f65;
        transform: scale(1.04);
        transition: 0.6s ease-in-out;
    }

    a:hover {
        color: var(--verdeEscuro);
    }
}

@media(min-width: 2100px) {
    #containerCards {
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
        padding-left: 1%;
        gap: 30px;
    }

    .containerImgCard {
        width: 65%;
        height: 60%;
    }

    .nome {
        height: 40%;
    }

}

@media(min-height: 600px) and (width: 1024px) {
    header {
        height: 130px;
    }

    .containerLogo {
        height: 70%;

    }

}