* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

:root {
    --preto: #0F0F0F;
    --verdeEsuro: #4F6C35;
    --verdeClaro: #F6FBF9;
    --verdeClaroGradiente: #EBF9E9;
    --bege: #FEF7F0;
    --laranjaEscuro: #4D2700;
    --laranjaClaro: #F9F1E3;
}

/* Estilos para a página main.html */
/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: var(--preto);
}

.containerLogo {
    width: 120px;
    height: 70%;
}

.containerLogo img {
    width: 100%;
    height: 100%;
}

.containerPesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

input {
    width: 60%;
    height: 30px;
}

#pesquisar {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd8b1;
    height: 30px;
    width: 30px;
}

/* Main */
/* Primeiro container de texto */
.containerMain {
    background-color: var(--verdeClaro);
    height: 1012px;
}

.primeiroContainerTexto {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    gap: 30px;
    width: 100%;
    height: 35%;
    background-color: var(--bege);
    grid-template-areas:
        "e1 e1"
        "e2 e2"
        "e3 e3"
    ;

    grid-template-rows: (2, 50%);
    grid-template-columns: (2, 50%);
}

.primeiroContainerTexto h2 {
    grid-area: e1;
}

.primeiroContainerTexto .img {
    grid-area: e2;
}

.primeiroContainerTexto .conteudoTexto {
    grid-area: e3;
}

.primeiroContainerTexto .img {
    border-style: solid;
    border-color: var(--laranjaEscuro);
}

.img {
    width: 190px;
    height: 150px;
}

.img img {
    width: 100%;
    height: 100%;
}

.primeiroContainerTexto p {
    text-align: justify;
    font-size: 16px;
    padding: 10px;
}

/* Container do carrossel de imagens */
.carrosselImgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.carrosselImgs p {
    display: none;
}

.containerCarrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 90%;
}

#animal {
    width: 95%;
    height: 45%;
    border-style: solid;
    border-color: var(--preto);
    background-image: url(./img/biomaAfricano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#habitat {
    width: 95%;
    height: 45%;
    border-style: solid;
    border-color: var(--preto);
    background-image: url(./img/biomaAfricano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Segundo container de texto */
.segundoContainerTexto {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    gap: 30px;
    width: 100%;
    height: 35%;
    background-color: var(--bege);
    grid-template-areas:
        "e1 e1"
        "e2 e2"
        "e3 e3"
    ;

    grid-template-rows: (2, 50%);
    grid-template-columns: (2, 50%);
}

.segundoContainerTexto h2 {
    grid-area: e1;
}

.segundoContainerTexto .img {
    grid-area: e2;
}

.segundoContainerTexto .conteudoTexto {
    grid-area: e3;
}

.segundoContainerTexto .img {
    border-style: solid;
    border-color: var(--verdeEsuro);
}

.segundoContainerTexto p {
    text-align: justify;
    font-size: 16px;
    padding: 10px;
}

/* Footer */
footer {
    width: 100%;
    height: 243px;
    background-color: var(--preto);
    color: white;
    font-size: 10px;
}

.informacoes {
    width: 100%;
    height: 80%;
}

.creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-top-style: solid;
    border-top-color: white;
}

footer img {
    width: 30px;
    height: 40px;
}

/* Estilos para a página cards.html */
.containerCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 93%;
}

#tituloCards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
}

.nome {
    font-weight: 600;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    width: 45%;
    height: 17%;
    background-color: var(--laranjaClaro);
}

.containerImgCard {
    width: 80%;
    height: 70%;
    border-style: solid;
    border-color: var(--verdeEsuro);
}

.imgCard {
    width: 100%;
    height: 100%;
}

@media(min-width: 768px) {

    /* Header */
    header {
        height: 12vh;
        flex-direction: row;
        justify-content: flex-end;
    }

    .containerLogo {
        width: 140px;
        height: 95%;
    }

    .containerPesquisa {
        justify-content: flex-end;
        width: 40%;
        height: 80%;
        padding-right: 20px;
        padding-top: 30px;
    }

    input {
        width: 80%;
        height: 33px;
    }

    /* Main */
    /* Primeiro container de texto */
    main {
        display: flex;
        justify-content: center;
        height: 1100px;
    }

    .containerMain {
        width: 95%;
        height: 98%;
        margin-top: 25px;
        border-style: solid;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-color: var(--preto);
    }

    .primeiroContainerTexto {
        height: 25%;
        padding-top: 0px;
        gap: 0px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        grid-template-areas:
            "e2 e1 e1"
            "e2 e3 e3"
            "e2 e3 e3"
        ;

        grid-template-rows: (3, 23.3%);
        grid-template-columns: (3, 33.3%);
    }

    .primeiroContainerTexto h2 {
        display: flex;
        align-items: flex-end;
        width: 100%;
        padding-left: 28px;
        height: 100%;
    }

    .img {
        margin-left: 15px;
        width: 210px;
        height: 180px;
    }

    .primeiroContainerTexto .conteudoTexto {
        padding-left: 20px;
        height: 100%;
    }

    .primeiroContainerTexto p {
        font-size: 15px;
    }

    /* Container do carrosel e imagens */
    .carrosselImgs {
        height: 50%;
    }

    .carrosselImgs p {
        display: flex;
        width: 100%;
        padding: 0px 35px 0px 35px;
    }

    .carrosselImgs p:nth-child(3) {
        justify-content: flex-end;
    }

    .containerCarrossel {
        height: 80%;
        width: 95%;
    }

    /* Segundo container de texto */
    .segundoContainerTexto {
        height: 25%;
        padding-top: 0px;
        gap: 0px;
        grid-template-areas:
            "e2 e1 e1"
            "e2 e3 e3"
            "e2 e3 e3"
        ;

        grid-template-rows: (3, 23.3%);
        grid-template-columns: (3, 33.3%);
    }

    .segundoContainerTexto h2 {
        display: flex;
        align-items: flex-end;
        width: 100%;
        padding-left: 28px;
        height: 100%;
    }

    .segundoContainerTexto .conteudoTexto {
        padding-left: 20px;
        height: 100%;
    }

    .segundoContainerTexto p {
        font-size: 15px;
    }
}