* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

ul {
    list-style: none;
}

a {
    all: unset;
}

:root {
    --preto: #0F0F0F;
    --verdeEsuro: #4F6C35;
    --verdeClaro: #F6FBF9;
    --verdeClaroGradiente: #EBF9E9;
    --bege: #FEF7F0;
    --laranjaEscuro: #4D2700;
    --laranjaClaro: #F9F1E3;
}

/* Estilos para a p치gina main.html */
/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: var(--preto);
}

.containerLogo {
    width: 120px;
    height: 70%;
}

.containerLogo img {
    width: 100%;
    height: 100%;
}

.containerPesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin-bottom: 10px;
}

input {
    width: 60%;
    height: 30px;
}

#pesquisar {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd8b1;
    height: 30px;
    width: 30px;
}

/* Main */
/* Primeiro container de texto */
.containerMain {
    background-color: var(--verdeClaro);
    height: 1012px;
}

.primeiroContainerTexto {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    gap: 30px;
    width: 100%;
    height: 35%;
    background-color: var(--bege);
    grid-template-areas:
        "e1 e1"
        "e2 e2"
        "e3 e3"
    ;

    grid-template-rows: (2, 50%);
    grid-template-columns: (2, 50%);
}

.primeiroContainerTexto h2 {
    grid-area: e1;
}

.primeiroContainerTexto .img {
    grid-area: e2;
}

.primeiroContainerTexto .conteudoTexto {
    grid-area: e3;
}

.primeiroContainerTexto .img {
    border-style: solid;
    border-color: var(--laranjaEscuro);
}

.img {
    width: 190px;
    height: 150px;
}

.img img {
    width: 100%;
    height: 100%;
}

.primeiroContainerTexto p {
    text-align: justify;
    font-size: 16px;
    padding: 10px;
}

/* Container do carrossel de imagens */
.carrosselImgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.carrosselImgs p {
    display: none;
}

.containerCarrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 90%;
}

#animal {
    width: 95%;
    height: 45%;
    border-style: solid;
    border-color: var(--preto);
}

#imgCarroselAnimal {
    width: 100%;
    height: 100%;
    animation: fade 5s infinite;
}

#habitat {
    width: 95%;
    height: 45%;
    border-style: solid;
    border-color: var(--preto);
}

#imgCarroselHabitat {
    width: 100%;
    height: 100%;
    animation: fade 5s infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Segundo container de texto */
.segundoContainerTexto {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    gap: 30px;
    width: 100%;
    height: 35%;
    background-color: var(--bege);
    grid-template-areas:
        "e1 e1"
        "e2 e2"
        "e3 e3"
    ;

    grid-template-rows: (2, 50%);
    grid-template-columns: (2, 50%);
}

.segundoContainerTexto h2 {
    grid-area: e1;
}

.segundoContainerTexto .img {
    grid-area: e2;
}

.segundoContainerTexto .conteudoTexto {
    grid-area: e3;
}

.segundoContainerTexto .img {
    border-style: solid;
    border-color: var(--verdeEsuro);
}

.segundoContainerTexto p {
    text-align: justify;
    font-size: 16px;
    padding: 10px;
}

#filtroEscuro {
    display: none;
    justify-content: end;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 1100px;
    background-color: #0f0f0fa4;
}

.containerClose {
    width: 40px;
    height: 40px;
}

#close {
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    width: 100%;
    height: 243px;
    background-color: var(--preto);
    color: white;
    font-size: 10px;
}

.informacoes {
    width: 100%;
    height: 80%;
    padding: 20px;
}

.links {
    display: flex;
    width: 100%;
    height: 90%;
}

.links ul {
    display: grid;
    width: 100%;
    gap: 0px;
}

.tituloUl {
    font-size: 15px;
}

.creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-top-style: solid;
    border-top-color: white;
}

footer img {
    width: 30px;
    height: 40px;
}

/* Estilos para a p치gina cards.html */
#containerCards {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width: 100%;
    height: 92%;
}

#tituloCards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6%;
    font-size: 1.3rem;
    background-color: var(--bege);
}

.nome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    font-size: 60%;
    font-weight: 600;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    min-width: 10%;
    min-height: 5%;
    background-color: var(--laranjaClaro);
    transition: 0.7s ease-in-out;
}

.containerImgCard {
    width: 80%;
    height: 65%;
    margin-top: 10px;
    border-style: solid;
    border-color: var(--verdeEsuro);
}

.imgCard {
    width: 100%;
    height: 100%;
}

/* Estilo para o card selecionado */
.containerDados {
    display: none;
    padding-left: 15px;
    padding-left: 15px;
    padding-top: 15px;
    width: 100%;
    height: 50%;
}

.containerDados ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

li {
    min-height: 55px;
}

.listaTopicosAnimal {
    font-size: 15px;
    font-weight: bold;
}

.listaConteudoAnimal {
    font-style: italic;
}

@media(min-width: 768px) {

    /* Header */
    header {
        height: 13vh;
        display: grid;
        grid-template-columns: 40% 20% 40%;
    }

    .containerLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        grid-column: 2/3;
    }

    .containerLogo img {
        width: 80%;
        height: 70%;
    }

    .containerPesquisa {
        width: 100%;
        height: 80%;
        padding-right: 20px;
        padding-top: 70px;
        grid-column: 3/3;
    }

    input {
        width: 80%;
        height: 10%px;
    }

    /* Main */
    /* Primeiro container de texto */
    main {
        display: flex;
        justify-content: center;
        height: 1100px;
        background: #355223;
        background: linear-gradient(0deg, rgba(53, 82, 35, 1) 0%, rgba(235, 249, 233, 1) 100%);
    }

    .containerMain {
        width: 95%;
        height: 98%;
        margin-top: 25px;
        border-style: solid;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-color: var(--preto);
    }

    .primeiroContainerTexto {
        height: 25%;
        padding-top: 0px;
        gap: 0px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        grid-template-areas:
            "e2 e1 e1"
            "e2 e3 e3"
            "e2 e3 e3"
        ;

        grid-template-rows: (3, 23.3%);
        grid-template-columns: (3, 33.3%);
    }

    .primeiroContainerTexto h2 {
        display: flex;
        align-items: flex-end;
        width: 100%;
        padding-left: 28px;
        height: 100%;
    }

    .img {
        margin-left: 15px;
        width: 210px;
        height: 180px;
    }

    .primeiroContainerTexto .conteudoTexto {
        padding-left: 20px;
        height: 100%;
    }

    .primeiroContainerTexto p {
        font-size: 15px;
    }

    /* Container do carrosel e imagens */
    .carrosselImgs {
        height: 50%;
    }

    .carrosselImgs p {
        display: flex;
        width: 100%;
        padding: 0px 35px 0px 35px;
    }

    .carrosselImgs p:nth-child(1) span {
        color: var(--laranjaEscuro);
        padding: 0px 5px 0px 5px;
        font-weight: 600;
    }

    .carrosselImgs p:nth-child(3) span {
        color: var(--verdeEsuro);
        padding: 0px 5px 0px 5px;
        font-weight: 600;
    }

    .carrosselImgs p:nth-child(3) {
        justify-content: flex-end;
    }

    .containerCarrossel {
        height: 80%;
        width: 95%;
    }

    /* Segundo container de texto */
    .segundoContainerTexto {
        height: 25%;
        padding-top: 0px;
        gap: 0px;
        grid-template-areas:
            "e2 e1 e1"
            "e2 e3 e3"
            "e2 e3 e3"
        ;

        grid-template-rows: (3, 23.3%);
        grid-template-columns: (3, 33.3%);
    }

    .segundoContainerTexto h2 {
        display: flex;
        align-items: flex-end;
        width: 100%;
        padding-left: 28px;
        height: 100%;
    }

    .segundoContainerTexto .conteudoTexto {
        padding-left: 20px;
        height: 100%;
    }

    .segundoContainerTexto p {
        font-size: 15px;
    }

    /* Estilos para a p치gina cards.html */
    #tituloCards {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 5%;
    }

    .containerImgCard {
        width: 60%;
        height: 70%;
    }

    .nome {
        font-size: 0.8rem;
    }
}

@media(min-width: 1280px) {

    /* Header */
    .containerLogo {
        width: 100%;
        height: 100%;

    }

    .containerLogo img {
        width: 60%;
        height: 90%;
    }

    .containerPesquisa {
        width: 100%;
        height: 80%;
        padding-top: 40px;
    }

    /* Main */
    /* Primeiro container de texto */
    .containerMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .primeiroContainerTexto {
        height: 23%;
        width: 90%;
        border-radius: 20px;
        margin-top: 15px;
    }

    .img {
        width: 240px;
        height: 210px;
    }

    .primeiroContainerTexto p {
        font-size: 18px;
    }

    /* Container do carrosel e imagens */
    .containerCarrossel {
        height: 90%;
        width: 70%;
    }

    .carrosselImgs p {
        font-size: 20px;
        padding: 0px 155px 0px 155px;
    }

    /* Segundo container de texto */
    .segundoContainerTexto {
        height: 23%;
        width: 90%;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    .segundoContainerTexto p {
        font-size: 18px;
    }

    /* Estilos para a p치gina cards.html */
    #tituloCards {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-top: -30px;
    }
}